.registration{
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-image: url('img/viewopt.png');
  background-size: cover;
    .card-header{
        background-color: #fff;
        text-align: center;
            a{
                margin-right: .5rem;
                text-transform: uppercase;
                font-weight: 600;
            }
    }
}

.screen{
  width: 30rem;
  margin: 0 auto;
}

//.filter{
//    position: absolute;
//    height: 100%;
//    width: 100%;
//    filter: blur(150px);
//    background-color: #fff;     
//}


