.user-task{
  a{
    display: block;
    text-align: center;
    color: $button-main;
    text-transform: uppercase;
    font-weight: 600;
      &:hover {
          color: $button-main;
      }
  }
  .action-button{
    min-width: 50%;
  }
    margin-bottom: .5rem;
}
