
.screen{
    height: 100vh;
    display: flex;
}

.login{
    margin: auto;
    max-width: 30rem;
}

.drop-hover{
   position: relative;
}

.controls-list .btn{
    margin-left: 1rem;
    margin-right: 1rem;
    min-width: 10rem;
}